.appTable-cont {
  h2 {
    color: #013528;
    mix-blend-mode: normal;
    margin: 50px 0px;
    text-align: left;
  }
}

.appTable-table {
  border: 1px solid rgba(0, 0, 0, 0.146);
  width: 100%;
  background-color: #fbfaf8;
  tr {
    border: 0.5px solid rgba(0, 0, 0, 0.146);
  }

  td {
    height: 150px;

    padding: 1% 2%;
    font-size: 1.5rem;
    @media (max-width: "800px") {
      font-size: 1.3rem;
    }
  }

  .appTable-tdCont {
    background-color: #b0c5ff;
    height: 100%;

    color: #181a22;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: "800px") {
      flex-direction: column;
    }
  }
}
