.pageConteiner-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (max-width: 1400px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
  }
}
