// sass --watch homePage.scss homePage.css
@import "../../GlobalVariables/Variables.scss";
.homepage {
  background-color: #396ccd;
  .homeContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    .first_section_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .first_section {
      padding: 40px;
      height: 700px;
      max-width: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.13);
      border-radius: 10px;
      backdrop-filter: blur(10px);
      border: 2px solid rgba(255, 255, 255, 0.1);
      box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
      img {
        object-fit: cover;
        height: 600px;
        // background: linear-gradient(#1845ad, #23a2f6);
      }
      .text_wrap {
        height: 100%;
        width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
       
        h2 {
          text-align: center;
          color: #FBFAF8;
          font-size: 68px;
          // font-weight: bold;
          margin-bottom: 50px;
        }
        h3{
          color: #FBFAF8;
          font-weight: 100;
          margin-bottom: 50px;
        }
        button {
          position: relative;
          // right: 200px;
          border: none;
          text-decoration: none;
          transition: 300ms;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #5A8CF2;
          // border: 1px solid #21009D;
          width: 12rem;
          margin: 5px;
          height: 65px;
          border-radius: 20px;
          font-weight: bold;
          color: #FBFAF8;
          font-size: 18px;

          &:hover {
              transition: 300ms;
              color: invert(#FBFAF8);
              background-color: #0056D0;
              transform: translate(-2px, -2px);
              box-shadow: 2px 2px #21009D;
              filter: brightness(125%);
              cursor: pointer;
              img {
                  transition: 300ms;
                  filter: invert(100%)
              }
          }

          &:active {
              transform: translate(2px, 2px);
              box-shadow: 0px 0px;
              filter: brightness(175%);
          }
      }
      }
    }
  }
}