.cardCo{
    display: flex;
    border: solid 1px black;
    width: 55vh;
    height: 30vh; 
    background-color: rgba(255, 255, 255, 0.13);
    top: 10%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    z-index: 99;
    
}
.cardCo :hover{
    scale: 1.2;
}
.imgCo{
 width: 100%;
 height: 100%;
}
.imgCo img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;

}
.textCo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 1.5vh;
   }
   .textCo h2{
    font-size: 22px;
   }