.Contacts {
    padding: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.Container{
    padding: 20px;
    /* margin-top: 7vh; */
    display: grid;
    grid-template-columns: auto auto ;
    gap: 20px 120px;
}