//colors
$primary-color: #8dd3f6;
$primary-color-dark: darken(#21009d, 25%);
$primary-color-light: lighten(#21009d, 25%);

$secondary-color: #028c69;
$secondary-color-dark: darken(#028c69, 25%);
$secondary-color-light: lighten(#028c69, 25%);
