.cal-btn-color {
  height: 60%;
  width: 60px;
  // border-radius: 25px;

  border: none;
  background-color: #d4f4fe;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  // height: 34px;
  line-height: 34px;
  margin: 10px 0;
  position: relative;
  text-align: center;
  // transition: background-color 0.2s, color 0.2s;
}
