// sass --watch Login_Card.scss Login_Card.css

.login_card  {
    background: linear-gradient(rgba(39, 178, 236, 1), rgba(39, 178, 236, 0.7));
    box-shadow: 2px 2px rgba(33, 0, 157, 0.7);
    z-index: 1000;
    position: relative;
}

.card,
.login_card {
    height: 400px;
    aspect-ratio: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    padding: 50px 20px;

    h2 {

        color: white;
        width: 100%;
        // padding-left: 20px;
    }

    input {
        height: 2rem;
        width: 100%;
        transition: 300ms;

        &:focus {
            transition: 300ms;
            outline: 1px solid rgba(39, 178, 236, 1);
        }
    }

    h3 {
        width: 100%;
        font-size: 1rem;
        color: white;

        .link {
            color: rgba(33, 0, 157, 1);
            text-decoration: none;
            transition: 300ms;

            &:hover {
                transition: 300ms;
                filter: brightness(125%);
            }
        }
    }

    .btn_wrapper {
        width: 100%;
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: end;
        align-items: end;

        .btn {
            height: 2.5rem;
            aspect-ratio: 2/ 1;
            border-radius: 20px;
            background-color: rgb(33, 0, 157);
            color: white;
            transition: 300ms;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #21009D;
            // border: 1px solid #21009D;
            font-size: 18px;

            &:hover {
                transition: 300ms;
                color: invert(white);
                background-color: #0056D0;
                transform: translate(-2px, -2px);
                box-shadow: 2px 2px #21009D;
                filter: brightness(125%);
            }

            &:active {
                transform: translate(2px, 2px);
                box-shadow: 0px 0px;
                filter: brightness(175%);
            }


        }
    }
}

#login_top_button {
    background-color: red;
    border-radius: 20px 20px 20px 0px;
    height: 4rem;
    width: 50%;
    color: white;
    font-size: 2.3rem;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 20px;
    transition: 300ms;
    cursor: pointer;
    &:hover {
        transition: 300ms;
        filter: brightness(115%);
        cursor: pointer;
    }
}

.animate_left {
    animation: forwards prova 1s;
}

@keyframes prova {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(-200px);
    }

    100% {
        transform: translate(0px);
    }
}

.animate_right {
    animation: forwards right 1s;
}

@keyframes right {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(200px);
    }

    100% {
        transform: translate(0px);
    }

}