// sass --watch Login_Card.scss Login_Card.css


.login_card {
    background-color: #27B2EC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    aspect-ratio:  3 / 4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px rgb(0, 0, 255, 0.5);
    input {
        padding: 2%;
        border-radius: 3px;
        box-shadow: 1px 1px grey;
    }
    .login_card_content_wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h2 {
            text-align: left;
            font-size: 24px;
            margin: 0px;
            color: white;
            padding-bottom: 10px;
        }

    }

    .Login_title {
        background-color: #27B2EC;
        color: whitesmoke;
        position: relative;
        top: -50px;
        left: -20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 60%;
        height: 40px;
        font-size: 18px;
    }

    .login_button_wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
       
        .login_button {

            position: relative;
            transition: 300ms;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #21009D;
            // border: 1px solid #21009D;
            width: 100%;
            margin: 5px;
            height: 57px;
            border-radius: 20px;
            color: white;
            font-size: 18px;
            padding: 20px;
            &:hover {
                transition: 300ms;
                color: invert(white);
                background-color: #0056D0;
                transform: translate(-2px, -2px);
                box-shadow: 2px 2px #21009D;
                filter: brightness(125%);

                img {
                    transition: 300ms;
                    filter: invert(100%)
                }
            }

            &:active {
                transform: translate(2px, 2px);
                box-shadow: 0px 0px;
                filter: brightness(175%);
            }
        }
    
    }
}