.doctorProfileTable-cont {
  width: 25%;
  margin-top: 50px;
  @media (max-width: 1400px) {
    margin-left: 220px;
    width: 55%;
  }
  @media (max-width: 1000px) {
    margin-left: 100px;
    width: 80%;
  }
}

.card-container {
  color: #e5e5e5;
  padding: 30px 0px;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  img {
    height: 100%;
  }
}

.card-container .round {
  border: 3px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
  height: 140px;
}
