// sass --watch LoginPage.scss LoginPage.css
.LoginPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.body {
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

.body_element_container {
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
}