// sass --watch RegisterPage.scss RegisterPage.css
.LoginPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.body {
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B0C5FF;

.body_element_container {
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-height: 400px;
        aspect-ratio: 1 / 1;
    }
}
}