.booking-card {
  background-color: #FBFAF8;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  
}

.card-header {
  margin-bottom: 15px;
  background-color: #FBFAF8;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 0;
  display: block;
}

.form-label {
  color: black;
}
.form-style {
  color: #fff;
}
.time-label {
  padding-top: 20px !important;
}

.booking-btn {
  padding-top: 20px;
}

.custom-btn {
  transition: 300ms !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #21009d !important;
  width: 227px !important;
  margin: 5px !important;
  height: 57px !important;
  height: 57px !important;
  border-radius: 20px !important;
  color: white !important;
  font-size: 18px !important;
}
.custom-btn:hover {
  transition: 300ms !important;
  color: black !important;
  background-color: #0056d0 !important;
  transform: translate(-2px, -2px) !important;
  box-shadow: 2px 2px #21009d !important;
  filter: brightness(125%) !important;
}

.custom-btn:active {
  transform: translate(2px, 2px) !important;
  box-shadow: 0px 0px !important;
  filter: brightness(175%) !important;
}

.booked-card {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.card-title {
  padding: 5% !important;
}

.toggle-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.toggle-btn {
  transition: 300ms !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #21009d !important;
  width: 227px !important;
  margin: 5px !important;
  height: 57px !important;
  height: 57px !important;
  border-radius: 20px !important;
  color: #FBFAF8 !important;
  font-size: 18px !important;
}


.toggle-btn:hover {
  transition: 300ms !important;
  color: black !important;
  background-color: #0056d0 !important;
  transform: translate(-2px, -2px) !important;
  box-shadow: 2px 2px #21009d !important;
  filter: brightness(125%) !important;
}

.toggle-btn:active {
  transform: translate(2px, 2px) !important;
  box-shadow: 0px 0px !important;
  filter: brightness(175%) !important;
}

.HourSelect {
  color : black;
  border: 1px solid black;
  margin-left: 10px;
}

